<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	
</head>
<body>
<!-- 导航 -->
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand">VL</a>
			<button class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="sronly"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-right navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="#">标签一</a></li>
				<li><a href="#">标签二</a></li>
				<li><a href="#">标签三</a></li>
				<li><a href="#">标签四</a></li>
				<li><a href="#">标签五</a></li>
				<li><a href="#">标签六</a></li>
				<li><a href="#" onclick="login()" type="button">Login</a></li>
			</ul>
		</div>
	</div>
</nav>

<!-- 登陆模态窗 -->
<div class="modal fade" id="login_modal">
	<!-- 对话窗 -->
	<div class="modal-dialog">
		<!-- 内容 -->
		<div class="modal-content">
			<!-- 内容头 -->
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span>&times;</span></button>
				<h2 class="modal-title">Welcome Login</h2>
			</div>
			<!-- 内容主体 -->
				<div class="modal-body">
					<div class="container">
						<from class="form-horizontal" id="lognForm">
							<div class="form-group">
								<label for="" class="col-lg-1 control-label">name:</label>
								<div class="col-lg-3">
									<input type="text" class="form-control" name="userName" placeholder="please write your name">
								</div>
							</div>
							<div class="form-group">
								<label for="" class="col-lg-1 control-label">password:</label>
								<div class="col-lg-3">
									<input type="password" class="form-control" name="userPwd" placeholder="please write your password">
								</div>
							</div>
						</from>
					</div>
				</div>
			<!-- 内容脚 -->
			<div class="modal-footer">
				<button class="btn btn-success" id="login">let'sgo</button>
				<button class="btn btn-default">cancel</button>
			</div>
		</div>
	</div>
</div>

</body>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script>
		$(function(){
			login = function(){
				$('#login_modal').modal('show');
			}
			$('#login').on('click', function(){
				alert('登陆');
			});
		});

	</script>
</html>